@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css');
html,
body {
    height: 100%;
}
.fixed-bottom-right {
    position: fixed;
    bottom: 25px;
    right: 25px;
}
.fixed-top-left {
    position: fixed;
    top: 25px;
    left: 25px;
}
input {
    margin-top: 5px;
    border: 1px solid lightgray;
    background-color: #f5f5f5;
    border-radius: 10px;
}
input:active {
    border: 1px solid lightgray;
    background-color: #f5f5f5;
}

.table_elem {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

/*TOAST*/
.toast {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 300px;
    background-color: #ffffff; /* Белый цвет фона */
    border-radius: 4px;
    color: black; /* Синий цвет текста */
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
}

.toast.show {
    opacity: 1;
    transition: opacity 0.3s ease, visibility 0.1s ease;
    visibility: visible;
}

.toast-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toast-body {
    margin-top: 10px;
}
.toast .close {
    background-color: transparent;
    border: none;
    color: inherit;
}

.toast .close:hover {
    color: black;
}

.toast .close span {
    font-size: 20px;
    opacity: 0.5; /* Прозрачность иконки */
    color: black;
}

.toast-success{
    border: 2px solid #198754;
    border-radius: inherit;
    padding-bottom: 15px;
}

.toast-warning {
    border: 2px solid #edf333;
    border-radius: inherit;
    padding-bottom: 15px;
}

.toast-error {
    border: 2px solid #f23627;
    border-radius: inherit;
    padding-bottom: 15px;
}

/*DROPDOWN*/

.dropbtn {
    background-color: #ffffff;
    color: #198754;
    border: none;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    min-width: 100px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: relative;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 98;
    max-height: 0;
    min-width: 100px;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
}

.dropdown-content a {
    color: #198754;
    background-color: #f9f9f9;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #e2e2e2;
}

.dropdown:hover .dropdown-content {
    max-height: 500px;
    transition: max-height 0.25s ease-in;
}

.dropdown:hover .dropbtn {
    background-color: #f9f9f9;
    transition: max-height 0.25s ease-in;
}