<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Банковские услуги</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<style>
    @import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css');
    html,
    body {
        height: 100%
    }
</style>
<body class="text-center">
<div class="h-100 d-flex align-items-center justify-content-center">
    <div>
        <h1 class="cover-heading" style="color: #198754; font-weight: bold; font-size: 50px">БАНКОВСКИЕ УСЛУГИ</h1>
        <p class="lead">Привет</p>
        <form id="jsonForm" action="/upload" method="post" enctype="multipart/form-data">
            <p class="lead">
                <input type="file" id="jsonFile" name="jsonFile" accept=".json">
            </p>
            <button type="submit" class="btn btn-lg btn-outline-success">Отправить</button>
        </form>
    </div>
</div>
<!--    <footer class="mastfoot mt-auto">-->
<!--            <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>-->
<!--    </footer>-->
</body>
</html>
{% endblock content %}