<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Таблицы</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/main.css" th:href="@{main.css}">
</head>
<div th:if="${message}" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true" data-delay="5000">
    <div th:class="'toast-' + ${messageType}">
        <div class="toast-header">
            <strong class="mr-auto">Уведомление</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <br>
        <span th:text="${message}"></span>
    </div>
</div>
<body class="text-center">
<div class="container">
    <br>
    <h1 class="cover-heading" style="color: #198754; font-weight: bold; font-size: 45px">Список услуг</h1>
    <p class="lead">Весь спектр представленных операций</p>
    <p id="foundServicesCount" class="lead">Найдено сервисов:  <span id="foundCount">0</span></p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Номер договора <input type="text" placeholder="Фильтр..." id="contractFilter"></th>
            <th>Наименование услуги <input type="text" placeholder="Фильтр..." id="serviceNameFilter"></th>
            <th>Срок оказания <input type="text" placeholder="Фильтр..." id="dateFilter"></th>
            <th>Тип <input type="text" id="typeFilter" placeholder="Фильтр..."></th>
            <th>Результат комиссии <input type="text" placeholder="Фильтр..." id="commissionResultFilter"></th>
            <th>Долг <input type="text" placeholder="Фильтр..." id="debtFilter"></th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody class="table_elem" id="tableBody">
        <tr th:each="service : ${list.services_list}">
            <td th:text="${service.contract_num}"></td>
            <td th:text="${service.service_name}"></td>
            <td th:text="${service.date}"></td>
            <td th:text="${service.type}"></td>
            <td th:text="${service.comission_result}"></td>
            <td th:text="${service.debt}"></td>
            <td>
                <form method="POST" action="/delete">
                    <input type="hidden" name="uuid" th:value="${service.uuid}">
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<br>
<h5>Ввод данных</h5>
<br>
<div style="width: 200px; margin: 0 auto">
    <form id="addServiceForm">
        <div class="mb-3">
            <label for="serviceNameInput" class="form-label">Наименование услуги</label>
            <input type="text" class="form-control" id="serviceNameInput" name="service_name">
        </div>
        <div class="mb-3">
            <label for="serviceNameInput" class="form-label">Срок оказания</label>
            <input type="date" class="form-control" id="dateInput" name="date">
        </div>
        <div class="mb-3">
            <label for="serviceNameInput" class="form-label">Тип</label>
            <input type="text" class="form-control" id="typeInput" name="type">
        </div>
        <div class="mb-3">
            <label for="serviceNameInput" class="form-label">Результат комиссии</label>
            <input type="text" class="form-control" id="comission_resultInput" name="comission_result">
        </div>
        <div class="mb-3">
            <label for="serviceNameInput" class="form-label">Долг</label>
            <input type="number" class="form-control" id="debtInput" name="debt">
        </div>
        <button type="button" class="btn btn-success" id="submitServiceButton">Подтвердить</button>
    </form>
</div>
<br>
<div class="fixed-top-left">
<div class="dropdown">
    <button class="dropbtn" for="btnControl">Файл</button>
    <div class="dropdown-content">
            <a id="saveLabel" style="color: #198754" href="#" onclick="exportToFile()">Сохранить файл</a>
        <form id="jsonForm" action="/upload" method="post" enctype="multipart/form-data" style="margin: 0; padding: 0">
            <a id="fileLabel" style="color: #198754" href="#" onclick="handleFileLabelClick()">Загрузить файл</a>
                <input type="file" id="jsonFile" style="height: 0; width: 0; overflow: hidden; display: none; opacity: 0" name="jsonFile" accept=".json" onchange="handleFileSelect()">
        </form>
    </div>
</div>
</div>
<script>
    function exportToFile() {
        fetch('/save')
            .then(response => {
                if (!response.ok) {
                    throw new Error('Ошибка получения файла');
                }
                return response.blob();
            })
            .then(blob => {
                var a = document.createElement('a');
                var fileName = 'test.json';

                a.href = window.URL.createObjectURL(blob);
                a.download = fileName;

                a.click();
            })
            .catch(error => {
                console.error('Произошла ошибка:', error);
            });
    }
</script>
<a href="/" class="btn btn-lg btn-outline-success fixed-bottom-right">Выход</a>
<script src="/js/table.js" th:src="@{/js/table.js}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $('.toast').toast('show');
    });
    $('.toast .close').click(function(){
        $(this).parents('.toast').toast('hide');
    });
</script>
<script>
    function handleFileLabelClick() {
        document.getElementById('jsonFile').click();
    }
    function handleFileSelect() {
        document.getElementById('jsonForm').submit();
    }
</script>
</body>
</html>